<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <%- include('_navbar') %>
    <div class="container">
      <div style="text-align: center">
        <form action="/doctor/<%= id %>/checkup" method="POST">
          <label class="label-data-type" style="font-size: 20px">
            Choose Appointment Date</label
          >
          <br />
          <input type="date" name="appointment" /> <br />
          <div class="submit-button-container">
            <button
              style="
                height: 50px;
                width: 250px;
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;
              "
              type="submit"
            >
              Create Appointment
            </button>
          </div>
        </form>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
